<div [class]="{'custom-theme': tourney?.theme?.primaryColor || tourney?.theme?.accentColor}">
  <mat-toolbar class="nav-bar mat-elevation-z4">
    <div class="left-side">
      <a routerLink="" matTooltip="temporary icon lol"><img class="icon" src="./favicon.ico"></a>
      <ng-container *ngIf="tourney?.iconLink">
        <a [routerLink]="getLink('')"><img class="icon" [src]="tourney!.iconLink"></a>
      </ng-container>
      <button
        *ngIf="!loadingTourney && !loadingRound && tourney"
        mat-icon-button
        color="primary"
        class="refresh-button"
        [matTooltip]="lastUpdatedText"
        (click)="triggerRefresh()"
      >
        <mat-icon>refresh</mat-icon>
      </button>
      <mat-spinner *ngIf="loadingTourney || loadingRound" [diameter]="32"></mat-spinner>
    </div>

    <div *ngIf="!mobileMode" class="right-side">
      <ng-container *ngIf="!tourneyPath">
        <a mat-button color="primary" [class.active]="currentPage === 'tournament'" [routerLink]="getLink('tournament')">Tournaments</a>
        <a mat-button color="primary" [class.active]="currentPage === 'about'" [routerLink]="getLink('about')">About</a>
      </ng-container>
      <ng-container *ngIf="tourneyPath">
        <a mat-button color="primary" [class.active]="currentPage === tourney?.acronym" [routerLink]="getLink('')">{{ "tournament.pages.home" | transloco }}</a>
        <a mat-button color="primary" [class.active]="currentPage === 'registration'" [routerLink]="getLink('registration')">{{ "tournament.pages.registration" | transloco }}</a>
        <a mat-button color="primary" [class.active]="currentPage === 'participants'" [routerLink]="getLink('participants')">{{ "tournament.pages.participants" | transloco }}</a>
        <a mat-button color="primary" [class.active]="currentPage === 'mappools'" [routerLink]="getLink('mappools')">{{ "tournament.pages.mappools" | transloco }}</a>
        <a mat-button color="primary" [class.active]="currentPage === 'matches'" [routerLink]="getLink('matches')">{{ "tournament.pages.matches" | transloco }}</a>
        <a mat-button color="primary" [class.active]="currentPage === 'stats'" [routerLink]="getLink('stats')">{{ "tournament.pages.stats" | transloco }}</a>
        <a mat-button color="primary" [class.active]="currentPage === 'settings'" [routerLink]="getLink('settings')" *ngIf="isStaffMember">{{ "tournament.pages.settings" | transloco }}</a>
        <div class="separator"></div>
      </ng-container>
      <button mat-button color="primary" [matMenuTriggerFor]="languageMenu"><mat-icon>language</mat-icon>{{ activeLanguage }}</button>
      <ng-container *ngIf="appUser">
        <button mat-button [matMenuTriggerFor]="userMenu">
          <div class="user-div">
            <div class="app-user-name">{{ appUser.osuUsername }}</div>
            <img class="app-user-avatar" [src]="appUser.osuAvatarUrl">
          </div>
        </button>
      </ng-container>
      <ng-container *ngIf="!appUser">
        <button mat-button color="primary" (click)="login()">{{ "common.login" | transloco }}</button>
      </ng-container>
    </div>

    <div *ngIf="mobileMode && tourneyPath" class="right-side">
      <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="getLink('')">{{ "tournament.pages.home" | transloco }}</button>
        <button mat-menu-item [routerLink]="getLink('registration')">{{ "tournament.pages.registration" | transloco }}</button>
        <button mat-menu-item [routerLink]="getLink('participants')">{{ "tournament.pages.participants" | transloco }}</button>
        <button mat-menu-item [routerLink]="getLink('mappools')">{{ "tournament.pages.mappools" | transloco }}</button>
        <button mat-menu-item [routerLink]="getLink('matches')">{{ "tournament.pages.matches" | transloco }}</button>
        <button mat-menu-item [routerLink]="getLink('stats')">{{ "tournament.pages.stats" | transloco }}</button>
        <button mat-menu-item [routerLink]="getLink('settings')">{{ "tournament.pages.settings" | transloco }}</button>
        <ng-container *ngIf="appUser">
          <button mat-menu-item [matMenuTriggerFor]="userMenu" class="username-menu-button">
            <div class="user-div">
              <div class="app-user-name-small">{{ appUser.osuUsername }}</div>
              <img class="app-user-avatar-small" [src]="appUser.osuAvatarUrl">
            </div>
          </button>
        </ng-container>
        <ng-container *ngIf="!appUser">
          <button mat-menu-item (click)="login()">{{ "common.login" | transloco }}</button>
        </ng-container>
      </mat-menu>
    </div>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="openUserSettings()">{{ "userSettings.userSettings" | transloco }}</button>
      <button mat-menu-item (click)="logout()">{{ "common.logout" | transloco }}</button>
    </mat-menu>

    <mat-menu #languageMenu="matMenu">
      <button mat-menu-item (click)="changeLanguage('en')">English</button>
      <button mat-menu-item (click)="changeLanguage('pt')">Português</button>
      <button mat-menu-item (click)="changeLanguage('ja')">日本語</button>
    </mat-menu>
  </mat-toolbar>
</div>
