.selector {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  padding: 10px;
  height: unset;

  button {
    margin: 10px;

    &.vertical {
      width: 100%;
    }
  }

  &.column {
    flex-direction: column;
    padding: unset;
  }
}