.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.mobile-mode {
    flex-direction: column;
    align-items: flex-start;
  }

  .option-dropdown {
    margin-right: 20px;
  }
}

.players-page-container {
  display: flex;

  .participants-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.participant-info-text {
  padding-bottom: 5px;
  display: flex;
}

.more-actions-button {
  margin-left: 20px;
}