<div *ngIf="loadingTournament" class="mat-headline-5">{{ "common.loading" | transloco }}</div>
<div *ngIf="!loadingTournament && !tournament" class="mat-headline-5">{{ "tournament.common.noTourney" | transloco: { acronym: acronym } }}</div>

<div *ngIf="!loadingTournament && tournament" [class]="{'custom-theme': tournament.theme?.primaryColor || tournament.theme?.accentColor || tournament.theme?.fontName}">
  <div class="mat-headline-5">{{ tournament.name }} {{ "tournament.common.participants" | transloco }}</div>

  <div class="header" [ngClass]="{'mobile-mode': mobileMode}">
    <mat-form-field class="option-dropdown" *ngIf="displayFormControl.value !== 'staff'" appearance="outline">
      <mat-label>{{ "tournament.common.sortBy" | transloco }}</mat-label>
      <mat-select [formControl]="sortMethodFormControl" (selectionChange)="switchSortMethod($event)">
        <mat-option value="rank">{{ "tournament.participants.rank" | transloco }}</mat-option>
        <mat-option value="name">{{ "tournament.participants.name" | transloco }}</mat-option>
        <mat-option value="country">{{ "tournament.participants.country" | transloco }}</mat-option>
        <mat-option value="seed">{{ "tournament.participants.seed" | transloco }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="option-dropdown" *ngIf="displayFormControl.value === 'staff'" appearance="outline">
      <mat-label>{{ "tournament.participants.filter" | transloco }}</mat-label>
      <mat-select [formControl]="filterFormControl" (selectionChange)="switchSortMethod($event)">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let role of tournament.staffRoles" [value]="role.name">{{ role.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="option-dropdown" appearance="outline">
      <mat-label>{{ "tournament.common.whomst" | transloco }}</mat-label>
      <mat-select [formControl]="displayFormControl">
        <mat-option value="players">{{ "tournament.common.players" | transloco }}</mat-option>
        <mat-option value="teams" *ngIf="tournament.enableTeams">{{ "tournament.common.teams" | transloco }}</mat-option>
        <mat-option value="staff">{{ "tournament.common.staff" | transloco }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="option-dropdown" *ngIf="displayFormControl.value === 'teams'" appearance="outline">
      <mat-label>{{ "tournament.participants.teamPlayerSort" | transloco }}</mat-label>
      <mat-select [formControl]="playerSortFormControl">
        <mat-option value="rank">{{ "tournament.participants.rank" | transloco }}</mat-option>
        <mat-option value="name">{{ "tournament.participants.name" | transloco }}</mat-option>
        <mat-option value="seed">{{ "tournament.participants.seed" | transloco }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="mat-body-1 participant-info-text">
      {{ participantsCountText }}
      <button
        mat-icon-button
        *ngIf="!isTourneyConcluded && hasPermission(TournamentStaffPermission.MANAGE_PLAYERS) && displayFormControl.value !== 'staff'"
        color="primary"
        [matMenuTriggerFor]="menu"
        class="small-icon-button more-actions-button"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="displayFormControl.value === 'players'" (click)="openPlayerEditor()">{{ "tournament.participants.playerEditor" | transloco }}</button>
        <button mat-menu-item *ngIf="displayFormControl.value === 'teams'" (click)="openTeamEditor()">{{ "tournament.participants.teamEditor" | transloco }}</button>
        <button mat-menu-item (click)="copyCSV()">{{ "tournament.participants.copyCsv" | transloco }}</button>
        <button mat-menu-item *ngIf="displayFormControl.value === 'players'" (click)="refreshPlayerData()">{{ "tournament.participants.refreshAllPlayerData" | transloco }}</button>
        <button mat-menu-item *ngIf="displayFormControl.value === 'players' && sortMethodFormControl.value === 'rank' && tournament.gameMode !== GameMode.ALL" (click)="assignSeeds()">{{ "tournament.participants.assignSeedsByRank" | transloco }}</button>
      </mat-menu>
    </div>
  </div>
  
  <div class="players-page-container">
    <div *ngIf="displayFormControl.value === 'players'" class="participants-container">
      <div *ngIf="players.length === 0" class="mat-headline-6">{{ "tournament.participants.noPlayers" | transloco }}</div>
      <div *ngFor="let player of players">
        <tournament-player-card class="tournament-card" [player]="player" [teams]="getPlayerTeams(player.playerId)" [gameMode]="tournament.gameMode" [mobileMode]="mobileMode"></tournament-player-card>
      </div>
    </div>

    <div *ngIf="displayFormControl.value === 'teams'" class="participants-container">
      <div *ngIf="teams.length === 0" class="mat-headline-6">{{ "tournament.participants.noTeams" | transloco }}</div>
      <div *ngFor="let team of teams">
        <tournament-team-card class="tournament-card" [team]="team" [gameMode]="tournament.gameMode" [playerSortMethod]="playerSortFormControl.value" [mobileMode]="mobileMode"></tournament-team-card>
      </div>
    </div>

    <div *ngIf="displayFormControl.value === 'staff'" class="participants-container">
      <div *ngIf="staffMembers.length === 0" class="mat-headline-6">{{ "tournament.participants.noStaff" | transloco }}</div>
      <div *ngFor="let staffMember of staffMembers">
        <tournament-staff-member-card class="tournament-card" [staffMember]="staffMember" [mobileMode]="mobileMode"></tournament-staff-member-card>
      </div>
    </div>
  </div>
</div>