.front-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tournament-progress {
  font-weight: bold;
}

.registration-info {
  display: flex;
  flex-direction: column;

  button {
    width: fit-content;
  }
}

.tourney-banner {
  max-width: 87vw;
  max-height: 87vh;
}

.front-page-header {
  margin-top: 20px;
  text-align: center;

  .links-button {
    margin-top: 40px;
  }

  mat-table {
    border: lightgray 2px solid;

    .table-cell {
      font-weight: bold;
    }

    .table-cell-x {
      flex-grow: 0;
    }

    .placement-1 {
      color: gold;
    }

    .placement-2 {
      color: silver;
    }

    .placement-3 {
      color: peru;
    }
  }
}

.front-page-body {
  margin-top: 64px;
  padding: 20px;
  border-radius: 10px;

  ::ng-deep img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
