<div *ngIf="loadingTournament && !tournament" class="mat-headline-5">{{ "common.loading" | transloco }}</div>
<div *ngIf="!loadingTournament && !tournament" class="mat-headline-5">{{ "tournament.common.noTourney" | transloco: { acronym: acronym } }}</div>

<div *ngIf="tournament" [class]="{'custom-theme': tournament.theme?.primaryColor || tournament.theme?.accentColor || tournament.theme?.fontName}">
  <div class="mat-headline-5">{{ tournament.name }} {{ "tournament.pages.matches" | transloco }}</div>

  <div class="matches-page-container">
    <div class="left-side" [class.mobile-mode]="mobileMode">
      <item-selector
          [labels]="getRoundlabels()"
          [selectedIndex]="selectedRoundIndex"
          (selectedIndexChange)="switchSelectedRoundIndex($event)"
      ></item-selector>
      <div *ngIf="selectedRoundId && !loadingRound" class="display-settings">
        <mat-form-field appearance="outline">
          <mat-label>{{ "tournament.common.sortBy" | transloco }}</mat-label>
          <mat-select [formControl]="sortMethodFormControl" (selectionChange)="switchSortMethod($event)">
            <mat-option value="id">{{ "tournament.matches.id" | transloco }}</mat-option>
            <mat-option value="time">{{ "tournament.matches.time" | transloco }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="appUser" appearance="outline">
          <mat-label>{{ "common.timezone" | transloco }}</mat-label>
          <mat-select [formControl]="displayTimeFormControl">
            <mat-option value="utc">UTC</mat-option>
            <mat-option value="local">{{ localUTC }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle [formControl]="playerFlagsFormControl">{{ "tournament.common.playerFlags" | transloco }}</mat-slide-toggle>
        <mat-slide-toggle *ngIf="appUser" [formControl]="myMatchesFormControl">{{ "tournament.matches.myMatches" | transloco }}</mat-slide-toggle>
        <button
          mat-icon-button
          *ngIf="!isTourneyConcluded && hasPermission(TournamentStaffPermission.MANAGE_MATCHES)"
          color="primary"
          [matMenuTriggerFor]="menu"
          class="small-icon-button more-actions-button"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openMatchEditor()">{{ "tournament.settings.matchEditor" | transloco }}</button>
        </mat-menu>
      </div>
    </div>

    <div class="matches-container" [class.mobile-mode]="mobileMode">
      <div *ngIf="loadingRound" class="mat-headline-6 loading-message">{{ "common.loading" | transloco }}</div>
      <div *ngIf="!loadingRound && !round" class="mat-headline-6 loading-message">{{ "tournament.common.noRound" | transloco }}</div>
      <ng-container *ngIf="round">
        <div *ngIf="sortedMatches.length === 0" class="mat-headline-6 loading-message">{{ "tournament.matches.noMatches" | transloco }}</div>
        <tournament-match-card
          *ngIf="sortedMatches.length > 0 && !mobileMode"
          class="match-card"
          [timezone]="timezone"
          [isLobby]="isLobby"
          [participantType]="participantType"
          [isHeader]="true">
        </tournament-match-card>
        <ng-container *ngFor="let match of filteredMatches">
          <tournament-match-card
            class="match-card"
            [match]="match"
            [tourneyAcronym]="tournament.acronym"
            [tourneyRoundId]="selectedRoundId"
            [timezone]="timezone"
            [mobileMode]="mobileMode"
            [isLobby]="isLobby"
            [participantType]="participantType"
            [gameMode]="tournament.gameMode"
            [hideLinks]="round.scoresheetWip && !canSeeMpLinks()"
            [playerFlagsToggle]="playerFlagsFormControl.value"
            [signupStatus]="signupStatus(match)"
            [refereeStatus]="refereeStatus(match)"
            [streamerStatus]="streamerStatus(match)"
            [commentatorStatus]="commentatorStatus(match)"
            [requestInProgress]="requestInProgress"
            (toggleSignup)="toggleSignup(match)"
            (toggleReferee)="toggleReferee(match)"
            (toggleStreamer)="toggleStreamer(match)"
            (toggleCommentator)="toggleCommentator(match)"
            [canSubmitMatch]="canSubmitMatch"
          ></tournament-match-card>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>