<div *ngIf="loading" class="mat-headline-5">{{ "common.loading" | transloco }}</div>
<div *ngIf="!loading && !tournament" class="mat-headline-5">{{ "tournament.common.noTourney" | transloco: { acronym: acronym } }}</div>
<div *ngIf="!loading && tournament" [class]="{'custom-theme': tournament.theme?.primaryColor || tournament.theme?.accentColor || tournament.theme?.fontName}">
  <div class="mat-headline-6">{{ tournament.name }} {{ "tournament.registration.registrationStatus" | transloco }}</div>
  
  <div class="mat-body-1 registration-info" *ngIf="(countdowns$ | async) as countdowns">
    <ng-container *ngIf="countdowns.start >= 0">
      <div>{{ "tournament.registration.registrationNotStarted" | transloco }}</div>
      <div *ngIf="tournament.progress === TournamentProgress.PLANNING">
        {{ "tournament.registration.tournamentPlanningPhase" | transloco }}
      </div>
      <div *ngIf="tournament.progress === TournamentProgress.REGISTRATION">
        {{ "tournament.registration.registrationStartTimer" | transloco }} {{ getTimeString(countdowns.start) }}
      </div>
    </ng-container>
    <ng-container *ngIf="countdowns.start < 0 && countdowns.end >= 0">
      <div *ngIf="tournament.progress === TournamentProgress.PLANNING">
        {{ "tournament.registration.registrationNotStarted" | transloco }} {{ "tournament.registration.tournamentPlanningPhase" | transloco }}
      </div>
      <ng-container *ngIf="tournament.progress === TournamentProgress.REGISTRATION">
        <div>{{ "tournament.registration.registrationOpen" | transloco }}</div>
        <div>{{ "tournament.registration.registrationEndTimer" | transloco }} {{ getTimeString(countdowns.end) }}</div>
        <button
          mat-raised-button
          class="register-button"
          color="primary"
          (click)="registerDialog()"
          [disabled]="requestInProgress || registerButtonDisabledStatus"
        >
          {{ registerButtonText | transloco }}
        </button>

        <div class="mat-body-1" *ngIf="tournament.registrationSettings.enforceDiscord">
          <p>{{ "tournament.registration.discordRequirement1" | transloco }}</p>
          <p>{{ "tournament.registration.discordRequirement2" | transloco }}</p>
        </div>
      </ng-container>
      <div *ngIf="[TournamentProgress.ONGOING, TournamentProgress.CONCLUDED].includes(tournament.progress)">
        {{ "tournament.registration.registrationEnded" | transloco }}
      </div>
    </ng-container>
    <div *ngIf="countdowns.end < 0">{{ "tournament.registration.registrationEnded" | transloco }}</div>
  </div>

  <div class="mat-body-1">{{ "tournament.registration.yourRegistrationStatus" | transloco }} <span class="tournament-progress">{{ registrationStatus | transloco }}</span></div>

  <ng-container *ngIf="tournament.enableTeams">
    <div class="mat-headline-6">{{ "tournament.registration.yourTeam" | transloco }}</div>
    <div *ngIf="!isLoggedIn" class="mat-body-1">{{ "tournament.registration.notLoggedIn" | transloco }}</div>
    <div *ngIf="isLoggedIn && !isRegistered" class="mat-body-1">{{ "tournament.registration.notRegistered" | transloco }}</div>
    <ng-container *ngIf="isRegistered">
      <div *ngIf="currentTeam as team">
        <tournament-team-card
          [team]="team"
          [gameMode]="tournament.gameMode"
          [editable]="canEditTeam"
          (removePlayer)="removePlayer(team, $event)"
          (transferCaptain)="transferCaptain(team, $event)"
        ></tournament-team-card>
        <div *ngIf="team.players.length < tournament.registrationSettings.minTeamSize" class="mat-body-1">
          {{ "tournament.registration.teamSizeTooSmall" | transloco: { minTeamSize: tournament.registrationSettings.minTeamSize } }}
        </div>
        <div *ngIf="canEditTeam" class="team-edit-item mat-body-1">
          <button
            mat-mini-fab
            color="primary"
            (click)="editTeamNameDialog()"
            [disabled]="requestInProgress"
          >
            <mat-icon>edit</mat-icon>
          </button>
          {{ "tournament.registration.updateTeamName" | transloco }}
        </div>
        <input type="file" style="display: none;" (change)="onFileSelected($event)" #fileUpload>
        <div *ngIf="canEditTeam" class="team-edit-item mat-body-1">
          <button
            mat-mini-fab
            color="primary"
            (click)="fileUpload.click()"
            [disabled]="requestInProgress"
          >
            <mat-icon>attach_file</mat-icon>
          </button>
          {{ "tournament.registration.uploadTeamImage" | transloco }}
        </div>
        <div *ngIf="tournament.allowTeamEdits" class="team-edit-item mat-body-1">
          <button
            mat-mini-fab
            color="warn"
            (click)="removePlayer(team, selfTournamentPlayer!)"
            [disabled]="requestInProgress"
          >
            <mat-icon>cancel</mat-icon>
          </button>
          {{ "tournament.registration.leaveTeam" | transloco }}
        </div>
        <ng-container *ngIf="canEditTeam">
          <div class="mat-headline-6">{{ "tournament.registration.pendingRequests" | transloco }}</div>
          <div class="mat-body-1" *ngIf="currentPendingJoinRequests.length === 0">{{ "tournament.registration.none" | transloco }}</div>
          <div class="join-requests" *ngIf="currentPendingJoinRequests.length > 0">
            <div class="join-request" *ngFor="let joinRequest of currentPendingJoinRequests">
              <tournament-player-card [player]="joinRequest" [gameMode]="tournament.gameMode"></tournament-player-card>
              <div class="request-actions">
                <div class="request-action mat-body-1">
                  <button
                    mat-mini-fab
                    color="primary"
                    (click)="acceptTeamJoinRequest(currentTeam!, joinRequest)"
                    [disabled]="requestInProgress"
                  >
                    <mat-icon>check</mat-icon>
                  </button>
                  {{ "tournament.registration.accept" | transloco }}
                </div>
                <div class="request-action mat-body-1">
                  <button
                    mat-mini-fab
                    color="warn"
                    (click)="denyTeamJoinRequest(currentTeam!, joinRequest)"
                    [disabled]="requestInProgress"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                  {{ "tournament.registration.deny" | transloco }}
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div *ngIf="currentPendingJoinRequestTeam as team">
        <div class="mat-body-1">{{ "tournament.registration.pendingRequestToJoinTeam" | transloco }}</div>
        <tournament-team-card [team]="team" [gameMode]="tournament.gameMode"></tournament-team-card>
        <div *ngIf="tournament.allowTeamEdits" class="team-edit-item mat-body-1">
          <button
            mat-mini-fab
            color="warn"
            (click)="retractTeamJoinRequest(team)"
            [disabled]="requestInProgress"
          >
            <mat-icon>front_hand</mat-icon>
          </button>
          {{ "tournament.registration.retractJoinRequest" | transloco }}
        </div>
      </div>
      <div *ngIf="!currentTeam && !currentPendingJoinRequestTeam">
        <div class="mat-body-1">{{ "tournament.registration.notOnTeam" | transloco }}</div>
        <div *ngIf="tournament.allowTeamEdits" class="team-edit-item mat-body-1">
          <button
            mat-mini-fab
            color="primary"
            (click)="createTeam()"
            [disabled]="requestInProgress"
          >
            <mat-icon class="material-symbols-outlined">add_ad</mat-icon>
          </button>
          {{ "tournament.registration.createTeam" | transloco }}
        </div>
        <div *ngIf="tournament.allowTeamEdits" class="team-edit-item mat-body-1">
          <button
            mat-mini-fab
            color="primary"
            (click)="requestToJoinATeam()"
            [disabled]="requestInProgress"
          >
            <mat-icon class="material-symbols-outlined">person_raised_hand</mat-icon>
          </button>
          {{ "tournament.registration.requestTeam" | transloco }}
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>