<div *ngIf="loadingTournament" class="mat-headline-5">Loading...</div>
<div *ngIf="!loadingTournament && !tournament" class="mat-headline-5">
  Tournament "{{ acronym }}" doesn't exist or failed to load!
</div>

<div *ngIf="!loadingTournament && tournament" [class]="{'custom-theme': tournament.theme?.primaryColor || tournament.theme?.accentColor || tournament.theme?.fontName}">
  <div class="mat-headline-5">{{ tournament.name }} Matches</div>

  <!-- <div class="matches-page-container" [style.flexDirection]="mobileMode ? 'column' : 'row'"> -->
  <div class="matches-page-container">
    <div class="left-side" [class.mobile-mode]="mobileMode">
      <!-- <item-selector
          [labels]="getRoundlabels()"
          [selectedIndex]="selectedRoundIndex"
          (selectedIndexChange)="switchSelectedRoundIndex($event)"
          [isVertical]="!mobileMode"
      ></item-selector> -->
      <item-selector
          [labels]="getRoundlabels()"
          [selectedIndex]="selectedRoundIndex"
          (selectedIndexChange)="switchSelectedRoundIndex($event)"
      ></item-selector>
      <div class="display-settings">
        <mat-form-field appearance="outline">
          <mat-label>Sort By</mat-label>
          <mat-select [formControl]="sortMethodFormControl" (selectionChange)="switchSortMethod($event)">
            <mat-option value="id">ID</mat-option>
            <mat-option value="time">Time</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="appUser" appearance="outline">
          <mat-label>Timezone</mat-label>
          <mat-select [formControl]="displayTimeFormControl">
            <mat-option value="utc">UTC</mat-option>
            <mat-option value="local">{{ localUTC }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle [formControl]="playerFlagsFormControl">Player Flags</mat-slide-toggle>
      </div>
    </div>

    <div class="matches-container" [class.mobile-mode]="mobileMode">
      <div *ngIf="loadingRound" class="mat-headline-6">Loading...</div>
      <ng-container *ngIf="populatedTournamentRounds.has(selectedRoundId)">
        <div *ngIf="sortedMatches.length === 0" class="mat-headline-6">
          No matches in this round yet!
        </div>
        <tournament-match-card
          *ngIf="sortedMatches.length > 0 && !mobileMode"
          class="match-card"
          [timezone]="timezone"
          [isLobby]="isLobby"
          [participantType]="participantType"
          [isHeader]="true">
        </tournament-match-card>
        <ng-container *ngFor="let match of filteredMatches">
          <tournament-match-card
            class="match-card"
            [match]="match"
            [tourneyAcronym]="tournament.acronym"
            [tourneyRoundId]="selectedRoundId"
            [timezone]="timezone"
            [mobileMode]="mobileMode"
            [isLobby]="isLobby"
            [participantType]="participantType"
            [gameMode]="tournament.gameMode"
            [hideLinks]="selectedRound.scoresheetWip && !canSeeMpLinks()"
            [playerFlagsToggle]="playerFlagsFormControl.value"
            [signupStatus]="signupStatus(match)"
            [refereeStatus]="refereeStatus(match)"
            [streamerStatus]="streamerStatus(match)"
            [commentatorStatus]="commentatorStatus(match)"
            [requestInProgress]="requestInProgress"
            (toggleSignup)="toggleSignup(match)"
            (toggleReferee)="toggleReferee(match)"
            (toggleStreamer)="toggleStreamer(match)"
            (toggleCommentator)="toggleCommentator(match)"
          ></tournament-match-card>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>