.matches-page-container {
  display: flex;
  flex-direction: column;

  .left-side {
    display: flex;
    flex-direction: column;

    &.mobile-mode {
      align-items: center;
    }

    mat-form-field {
      width: 150px;
      margin-bottom: -20px;
    }

    .display-settings {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 20px;
      gap: 20px;
    }

    .more-actions-button {
      margin-left: 20px;
    }
  }

  .matches-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;

    &.mobile-mode {
      flex-direction: row;
    }

    .match-card {
      margin: 0 20px 20px 0;
    }

    &.mobile-mode {
      margin-left: unset;
    }
  }
}