.tournament-progress {
  font-weight: bold;
}

.registration-info {
  display: flex;
  flex-direction: column;

  button {
    width: fit-content;
    margin: 15px 0;
  }
}

.team-edit-item {
  display: flex;
  align-items: center;

  button {
    margin-right: 10px;
  }
}

.join-request {
  display: flex;
  align-items: center;
  gap: 20px;

  .request-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    .request-action {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: unset;
    }
  }
}

::ng-deep .dialog-wrapper {
  margin: 10px 20px;
}