<div *ngIf="loading" class="mat-headline-5">{{ "common.loading" | transloco }}</div>
<div *ngIf="!loading && !tournament" class="mat-headline-5">{{ "tournament.common.noTourney" | transloco: { acronym: acronym } }}</div>
<div *ngIf="!loading && tournament" [class]="{'custom-theme': tournament.theme?.primaryColor || tournament.theme?.accentColor || tournament.theme?.fontName}">
  <ng-container *ngIf="!hasPermission(TournamentStaffPermission.EDIT_TOURNAMENT_SETTINGS) &&
                       !hasPermission(TournamentStaffPermission.MANAGE_PLAYERS) &&
                       !hasPermission(TournamentStaffPermission.MANAGE_TEAMS) &&
                       !hasPermission(TournamentStaffPermission.MANAGE_STAFF_MEMBERS) &&
                       !hasPermission(TournamentStaffPermission.MANAGE_STAFF_ROLES) &&
                       !hasPermission(TournamentStaffPermission.MANAGE_ROUNDS) &&
                       !hasPermission(TournamentStaffPermission.MANAGE_SLOTS) &&
                       !hasPermission(TournamentStaffPermission.MANAGE_MATCHES) &&
                       !hasPermission(TournamentStaffPermission.SUBMIT_MATCHES)">
    <div class="mat-headline-5">{{ "tournament.settings.noPermissions" | transloco }}</div>
  </ng-container>

  <ng-container *ngIf="hasPermission(TournamentStaffPermission.EDIT_TOURNAMENT_SETTINGS)">
    <div class="mat-headline-5">{{ tournament.name }} {{ "tournament.pages.settings" | transloco }}</div>
    <tournament-settings-editor
      [initialTournament]="tournament"
      [requestInProgress]="requestInProgress"
      (submit)="submitEditTournamentForm($event)"
      (uploadBanner)="uploadTourneyBanner($event)"
      (uploadIcon)="uploadTourneyIcon($event)"
      (uploadCategoryIcon)="uploadCategoryIcon($event)">
    </tournament-settings-editor>
  </ng-container>

  <ng-container *ngIf="hasPermission(TournamentStaffPermission.MANAGE_PLAYERS)">
    <div class="mat-headline-5 section-label">{{ "tournament.settings.playerEditor" | transloco }}</div>
    <form [formGroup]="playerEditorForm" class="tourney-form">
      <mat-form-field>
        <mat-label>{{ "tournament.common.player" | transloco }}</mat-label>
        <mat-select formControlName="selectedPlayer" (selectionChange)="switchSelectedPlayer($event.value)">
          <mat-option value="-1">{{ "\<New\>" }}</mat-option>
          <mat-option *ngFor="let player of players" [value]="player.playerId">{{ player.username }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <tournament-player-editor
      [player]="selectedPlayer"
      [requestInProgress]="requestInProgress"
      [disabled]="isTourneyConcluded"
      [gameMode]="tournament.gameMode"
      (submit)="submitUpdatePlayerForm($event)"
      (remove)="removePlayer($event)"
      (refresh)="refreshPlayerData($event)">
    </tournament-player-editor>
  </ng-container>

  <ng-container *ngIf="hasPermission(TournamentStaffPermission.MANAGE_PLAYERS)">
    <button
      mat-raised-button
      class="refresh-players-button"
      type="button"
      color="warn"
      [disabled]="isTourneyConcluded || requestInProgress"
      (click)="refreshAllPlayerData()"
    >
      {{ "tournament.settings.refreshAllPlayerData" | transloco }}
    </button>
  </ng-container>

  <ng-container *ngIf="isTeamsEnabled && hasPermission(TournamentStaffPermission.MANAGE_TEAMS)">
    <div class="mat-headline-5 section-label">{{ "tournament.settings.teamEditor" | transloco }}</div>
    <form [formGroup]="teamEditorForm" class="tourney-form">
      <mat-form-field>
        <mat-label>{{ "tournament.common.team" | transloco }}</mat-label>
        <mat-select formControlName="selectedTeam" (selectionChange)="switchSelectedTeam($event.value)">
          <mat-option value="">{{ "\<New\>" }}</mat-option>
          <mat-option *ngFor="let team of teams" [value]="team._id">{{ team.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <tournament-team-editor
      [team]="selectedTeam"
      [players]="tournament.players"
      [requestInProgress]="requestInProgress"
      [disabled]="isTourneyConcluded"
      (submit)="submitUpdateTeamForm($event)"
      (remove)="removeTeam($event)"
      (uploadImage)="uploadTeamImage($event)">
    </tournament-team-editor>
  </ng-container>

  <ng-container *ngIf="hasPermission(TournamentStaffPermission.MANAGE_STAFF_MEMBERS)">
    <div class="mat-headline-5 section-label">{{ "tournament.settings.staffMemberEditor" | transloco }}</div>
    <form [formGroup]="staffMemberEditorForm" class="tourney-form">
      <mat-form-field>
        <mat-label>{{ "tournament.common.staffMember" | transloco }}</mat-label>
        <mat-select formControlName="selectedStaffMember" (selectionChange)="switchSelectedStaffMember($event.value)">
          <mat-option value="-1">{{ "\<New\>" }}</mat-option>
          <mat-option *ngFor="let staffMember of staffMembers" [value]="staffMember.playerId">{{ staffMember.username }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <tournament-staff-member-editor
      [staffMember]="selectedStaffMember"
      [staffRoles]="tournament.staffRoles"
      [requestInProgress]="requestInProgress"
      [disabled]="isTourneyConcluded"
      (submit)="submitUpdateStaffMemberForm($event)"
      (remove)="removeStaffMember($event)">
    </tournament-staff-member-editor>
  </ng-container>

  <ng-container *ngIf="hasPermission(TournamentStaffPermission.MANAGE_STAFF_ROLES)">
    <div class="mat-headline-5 section-label">{{ "tournament.settings.staffRoleEditor" | transloco }}</div>
    <form [formGroup]="staffRoleEditorForm" class="tourney-form">
      <mat-form-field>
        <mat-label>{{ "tournament.common.staffRole" | transloco }}</mat-label>
        <mat-select formControlName="selectedStaffRole" (selectionChange)="switchSelectedStaffRole($event.value)">
          <mat-option value="">{{ "\<New\>" }}</mat-option>
          <mat-option *ngFor="let staffRole of staffRoles" [value]="staffRole._id">{{ staffRole.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <tournament-staff-role-editor
      [staffRole]="selectedStaffRole"
      [requestInProgress]="requestInProgress"
      [disabled]="isTourneyConcluded"
      (submit)="submitUpdateStaffRoleForm($event)"
      (remove)="removeStaffRole($event)">
    </tournament-staff-role-editor>
  </ng-container>

  <div class="round-selector">
    <item-selector
      *ngIf="hasPermission(TournamentStaffPermission.MANAGE_ROUNDS) ||
            hasPermission(TournamentStaffPermission.MANAGE_SLOTS) ||
            hasPermission(TournamentStaffPermission.MANAGE_MATCHES) ||
            hasPermission(TournamentStaffPermission.SUBMIT_MATCHES)"
      [defaultLabel]="'New'"
      [labels]="roundLabels"
      [selectedIndex]="selectedRoundIndex"
      (selectedIndexChange)="switchSelectedTournamentRound($event)"
    ></item-selector>
  </div>

  <ng-container *ngIf="hasPermission(TournamentStaffPermission.MANAGE_ROUNDS)">
    <div class="mat-headline-5 section-label">{{ "tournament.settings.roundEditor" | transloco }}</div>
    <ng-container *ngIf="isLoadingTourneyRound">
      <div class="mat-headline-6 section-label">{{ "common.loading" | transloco }}</div>
    </ng-container>
    <tournament-round-editor
      [round]="selectedRound"
      [requestInProgress]="requestInProgress"
      [disabled]="isTourneyPlanning || isTourneyConcluded"
      (submit)="submitUpdateRoundForm($event)"
      (remove)="removeRound($event)">
    </tournament-round-editor>
  </ng-container>

  <ng-container *ngIf="hasPermission(TournamentStaffPermission.MANAGE_SLOTS) && selectedRound">
    <div class="mat-headline-5 section-label">{{ "tournament.settings.slotEditor" | transloco }}</div>
    <item-selector
      class="selector"
      [labels]="slotLabels"
      [selectedIndex]="selectedSlotIndex"
      (selectedIndexChange)="switchSelectedTournamentSlot($event)"
      [defaultLabel]="'New'"
    ></item-selector>
    <tournament-slot-editor
      [slot]="selectedSlot"
      [requestInProgress]="requestInProgress"
      [isMultiMode]="isMultiMode()"
      [disabled]="isTourneyConcluded"
      (submit)="submitUpdateSlotForm($event)"
      (remove)="removeSlot($event)"
      (refresh)="refreshBeatmapData($event)">
    </tournament-slot-editor>
  </ng-container>

  <ng-container *ngIf="selectedRound && (hasPermission(TournamentStaffPermission.MANAGE_MATCHES))">
    <div class="mat-headline-5 section-label">{{ "tournament.settings.matchEditor" | transloco }}</div>
    <item-selector
      class="selector"
      [labels]="matchLabels"
      [selectedIndex]="selectedMatchIndex"
      (selectedIndexChange)="switchSelectedTournamentMatch($event)"
      [defaultLabel]="'New'"
    ></item-selector>
    <tournament-match-editor
      [match]="selectedMatch"
      [enableTeams]="tournament.enableTeams"
      [players]="tournament.players"
      [teams]="tournament.teams"
      [staffMembers]="tournament.staffMembers"
      [matches]="selectedRound.matches"
      [requestInProgress]="requestInProgress"
      [disabled]="isTourneyConcluded"
      (submit)="submitUpdateMatchForm($event)"
      (remove)="removeMatch($event)">
    </tournament-match-editor>
  </ng-container>

  <ng-container *ngIf="!isTourneyConcluded && selectedRound && hasPermission(TournamentStaffPermission.SUBMIT_MATCHES)">
    <div class="mat-headline-5 section-label">{{ "tournament.settings.submitMatch" | transloco }}</div>
    <tournament-submit-match-editor
      [matches]="matches"
      [requestInProgress]="requestInProgress"
      (submit)="submitMatch($event)">
    </tournament-submit-match-editor>
  </ng-container>
</div>
